:root {
    cursor: url('cursor.cur'),auto;
}

body{
    margin: 0;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
}

.gallery{
    display: block;
    width: 100%;
    height: 150px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 20px auto;
    display: block;
    padding: 10px;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 0px;
}
@keyframes hor-movement {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 80%;
    }
    100% {
        margin-left: 0%;
    }
}
  
@keyframes ver-movement {
    0% {
        margin-top: 0%;
    }
    50% {
        margin-top: 10%;
    }
    100% {
        margin-top: 20%;
    }
}
  
.raccoon {
    width: 10%;
    position: absolute;
    animation-name: hor-movement, ver-movement;
    animation-duration: 5s,5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.raccoon2 {
    width: 10%;
    position: absolute;
    animation-name: hor-movement, ver-movement;
    animation-duration: 4s,4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.raccoon3 {
    width: 10%;
    position: absolute;
    animation-name: hor-movement, ver-movement;
    animation-duration: 6s,6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #ff0000, #ff8800 , #00ff00, #0000ff, #ff00ff, #8800ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}